body{
margin:0;
font-family:'Segoe UI',Arial;
background:#faf6fb;
color:#333;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#7b1fa2;
color:white;
}

.navbar a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(120deg,#9c27b0,#e91e63);
color:white;
}

.hero button{
padding:14px 28px;
border:none;
background:white;
color:#9c27b0;
border-radius:6px;
cursor:pointer;
}

.menu-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px;
max-width:1100px;
margin:auto;
}

.food-card{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.price{
color:#e91e63;
font-size:20px;
font-weight:bold;
}

.checkout-box{
width:700px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
margin-top:40px;
text-align:center;
}

.payment-container{
width:350px;
margin:auto;
background:white;
padding:30px;
margin-top:80px;
border-radius:10px;
text-align:center;
}

.success-container{
text-align:center;
padding:100px;
}